body {
    min-width: 768px;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;

    background-color: #f2f2f2;
}

.clearfix::after {
	content: "";

    display: table;
    clear: both;
}

.container {
	max-width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;
}

.to-left {
    float: left;
}

.to-right {
    float: right;
}


/*Хэдер*/

.main-header {
	position: relative;
}

.site-logo {
	position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
}

.main-menu ul {
	margin: 0;
    padding: 0;

    font-size: 0;
}

.main-menu li {
    display: inline-block;
    width: 20%;
    padding-top: 16px;
    padding-bottom: 18px;

    vertical-align: top;
    font-size: 14px;

	list-style: none;
}

.main-menu li:first-child {
	margin-left: 6%;
}

.main-menu li:nth-child(2) {
    margin-right: 8%;
}

.main-menu li:last-child {
    margin-right: 6%;
}

.main-menu li:nth-child(n+3) {
    text-align: right;
}

.main-menu li a {
	text-decoration: none;
    color: #000000;
    font-weight: 700;
}

.sedona-promo {
    min-height: 434px;
	padding-top: 76px;

    background: url(../img/mask.png) no-repeat center bottom,
                #dfecf5 url(../img/header-background.jpg) no-repeat center 30%;
    background-size: 100%;
}

.sedona-promo .index-logo {
    font-size: 0;
    text-align: center;
}


/*Контент*/

h1 {
    max-width: 576px;
    margin: 0 auto;
    margin-bottom: 31px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

h2 {
    margin: 29px 0;

    color: #000000;
}

main {
    padding-top: 60px;
}

.reasons {
    margin-bottom: 58px;

    line-height: 26px;
    text-align: center;
}

.index-content-reason-text {
	width: 23%;
    min-height: 206px;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;

    color: #ffffff;
    text-align: center;

    background-color: #81b3d2;
}

.index-content-reason-title {
    display: block;
    margin-bottom: 28px;

	font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.index-content-reason-number {
    display: block;
    margin-bottom: 25px;
}

.index-content-reason-image {
	width: 67%;
    min-height: 256px;
}

.index-content-reason-1 .index-content-reason-image {
	background: #a6b3a1 url(../img/sedona-city.jpg) no-repeat center center;
    background-size: 100%;
}

.index-content-reason-2 .index-content-reason-image {
	background: #a6b3a1 url(../img/devils-canyon.jpg) no-repeat center center;
    background-size: 100%;
}

.index-content-features {
	min-height: 330px;
}

.index-content-features .feature {
    float: left;
    width: 23%;
    padding: 0 5%;
    padding-top: 60px;

    text-align: center;
}

.index-content-reason-row {
	min-height: 256px;

    background-color: #eeeeee;
}

.index-content-reason-short {
	float: left;
    width: 21.93%;
    padding: 0 5.7%;
    padding-top: 50px;

    text-align: center;
}

.index-search {
    min-height: 291px;

	text-align: center;
}


/*Футер*/

.footer-hashtag {
	float: left;
    width: 33%;

    text-align: center;
}

.footer-social {
	float: left;
    width: 33%;

    text-align: center;
}

.footer-copyright {
	float: right;
    width: 33%;

    text-align: center;
}
